#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000c9;
}

a {
  color: #5893d4;
  text-decoration: none;
}

#main-footer p {
  font-size: 20px;
  font-weight: 500;
  color: #5893d4;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.social-links li {
  display: inline-block;
  margin: 0 5px;
  border-radius: 3px;
  box-shadow: 0 4px 0 transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.social-links li a {
  display: block;
  color: #fff;
  font-size: 21px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #1f3c88;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.social-links li a:hover {
  color: #fff;
  background: #b1d4ff;
}
